@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  margin: 0;
  padding: 0;
}

body{
  color: black;
}

canvas {
  overflow-x: hidden;;
  display: block;
}

video{
  display:none;
}

a{
  text-decoration: none;
  color: #0A2848;
}

a:hover{
  text-decoration: none;
  color: #337ab7;
}

footer{
  padding: 10px;
  font-family: 'Philosopher', sans-serif;
  background-color: #F1F1F1;
}

.download_btn{
  width: auto;
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  background: #0A2848;
  color: white;
}

.download_btn:hover{
  background: #337ab7;
  color: white;
}

.developer_information{
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

i.fa-heart {
  color: #a94442;
}

.shovon_font{
  font-family: 'Ubuntu', sans-serif;
}

.datamate_font{
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}
