body{
  font-family: 'Source Sans Pro', sans-serif;
  /* Show it is fixed to the top */
  padding-top: 4.5rem;
  padding-bottom: 3.5rem;
}

.flag{
  height: 30px;
}
#country_flag_searched_country{
  height: 32px;
}

.center{
  text-align: center;
}
.footer{
  margin-top: 30px;
}
.chartjs_mobile_canvas{
  width:100%;
  height:60vh;
}


/*jqvmap zoom in zoom out button*/
.jqvmap-zoomin {
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-weight: bold;
  color: white;
  font-size: 14px;
  vertical-align: middle;
}
.jqvmap-zoomout {
  width: 20px;
  height: 20px;
  top: 35px;
  line-height: 14px;
  font-weight: bold;
  color: white;
  font-size: 14px;
  vertical-align: middle;
}

/* Worldmap legend */
.worldmap_legend_wrapper{
  background-color: #a5bfdd;
}
.worldmap_legend {
  width: auto;
  height: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.worldmap_legend_span {
  width: 30px;
  height: 100%;
  display: block;
  float: left;
}

.world_map_legend_value {
  margin-left: 5px;
  margin-right: 5px;
}
