body {
    margin: 10px auto !important;
    background:  url('../minions.jpg')  center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #C0C0C0;
    overflow-x: hidden !important;
}
.container{
    background: rgba(255, 255, 255, 0.65);  
}
.heading-custom {
    font-family: ubuntu;
    text-align: center;
    color: #0A2848 !important;
    margin: 10px auto !important;
}

.custom_container{
    margin: 0 auto !important;
    float: none !important;
}

.header-custom{
    border-bottom: 2px solid #0A2848 !important;
    box-shadow: 0 0 4px 2px #0A2848 !important;
    -moz-box-shadow: 0 0 4px 2px #0A2848 !important;
    -o-box-shadow: 0 0 4px 2px #0A2848 !important;
    -webkit-box-shadow: 0 0 4px 2px #0A2848 !important;
    background: white;    
}
.setting_table{
    margin: 10px auto;
    width: 40%;
    text-align: center;
}
.setting_table td,.setting_table th{
    vertical-align: middle !important;
    text-align: center !important; 
}
.setting_table h1,.setting_table h2,.setting_table h3{
    padding: 0px 10px !important;
    margin:  0px !important;
}


#mainClockDiv{
    position: relative !important;
    overflow: hidden !important;
    border: 2px solid #0A2848;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;    
    margin: 10px auto !important;
    background: aliceblue;
    transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;

}
.clock_p{
    position: relative !important;
    overflow: hidden !important;
    font-size: 32px;
    text-align: center;
    padding-top: 65px;
}

#fillDiv{
    position: absolute !important;
    bottom: 0;
    width: 100%;
    opacity: 0.8;    
}
#mainClockDiv:hover{
    opacity: 0.8;
    border: 2px solid #fA2848;
    transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;

}