body{
    background-color: #eee;
    color: #333;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.container{
    background: white;
    min-height: 100vh;
}

.quiz_rows tr td, .quiz_rows tr td input{
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

.quiz_row{
    min-height: 100px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .blog-header-logo {
        font-size: 1.5rem !important;
    }

    .quiz_rows tr td, .quiz_rows tr td input{
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .quiz_row{
        min-height: 50px !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .blog-header-logo {
        font-size: 1.5rem !important;
    }

    .quiz_rows tr td, .quiz_rows tr td input{
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .quiz_row{
        min-height: 50px !important;
    }
}
